<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- inertial matrix -->
    <xacro:include filename="gazebo/inertia.xacro" />
    <!-- robot modeling -->
    <xacro:include filename="scout_v2.xacro" />
    <!-- motion control -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- sensor -->
    <xacro:include filename="gazebo/lidar16.xacro" />
    <xacro:include filename="gazebo/imu.xacro" />

</robot>