<launch>
    <!-- 1.在参数服务器中载入urdf -->
    <param name="robot_description" command="$(find xacro)/xacro $(find sim_model)/urdf/robot.xacro" />
    <!-- 2.启动Gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <!-- 加载地图 -->
        <!-- <arg name="world_name" value="$(find sim_model)/worlds/boxes.world" /> -->
        <arg name="world_name" value="$(find sim_model)/worlds/uneven_terrain.world" />
        <!-- 启动gazebo用户界面 -->
        <arg name="gui" value="true"/>
    </include>
    <!-- 3.在Gazebo中添加机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -x 0 -y 0 -z 1 -param robot_description" />

    <!-- rviz中显示URDF时，必须发布不同部件之间的坐标系关系，ROS提供了关于机器人模型显示的坐标发布相关节点 -->
    <!-- 添加关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <!-- 添加机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

</launch>